@font-face {
  font-family: "Roboto-Regular";
  src: local("Roboto-Regular.otf"), url("Roboto-Regular.ttf") format("opentype");
}

body {
  margin: 0;
}
#hero {
  background-image: url("../img/cc.png");
  color: white;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.container {
  max-width: 1200px;
  height: 12%;
  /*width: 40%;*/
  margin: 0 auto;
  position: relative;
  padding: 40px 20px;
}
.container1 {
  background-color: #fff7f0;
}

.shape {
  font-size: 16pt;
  float: left;
  padding: 0.5%;
  font-family: "Roboto-Regular";
  color: #c2d6db;
}
.img11 {
  width: 95.15%;
  padding-left: 6.3%;
  margin-top: -145px;
}
.paragraph {
  position: absolute;
  width: 50%;
  padding-left: 5%;
  margin-top: 6%;
}
.grow {
  font-size: 26pt;
  margin-bottom: 0;
}
.grow1 {
  font-size: 13pt;
  color: #83a9b4;
}

.grow1 span {
  color: #90b8c0;
}

.services {
  padding: 2% 0 !important;
  display: flex;
  margin: 1.5px;
  background-color: #fff7f0;
}
.div1 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 10px;
  padding: 15px;
  background-color: white;
  border-radius: 10px;
  width: 12%;
  text-align: center;
  color: #c77329;
}

.active {
  color: white;
  background-color: #c77329;
}

.hover {
  color: black;
  border: 2px solid #c77329;
}

.div1 p {
  padding: 0;
  margin: 0;
}

.div1 p:nth-child(1) {
  font-weight: bold;
  font-size: large;
}

.div {
  padding-top: 21px;
}
.protect {
  text-align: center;
}
.protect1 {
  font-size: 25pt;
  margin-bottom: 0;
  font-weight: bold;
  color: #041e54;
}
.protect2 {
  font-size: 25pt;
  padding-top: 4%;
  color: #333c56;
  font-weight: bold;
  border-top: solid darkgray;
  margin-bottom: 0;
}
.cloud {
  font-size: 16pt;
  padding-bottom: 4%;
}

.success {
  display: inline-flex;
  margin-top: 30px;
  column-count: 3;
}
.succ {
  width: 30%;
  padding: 12px;
}

.succ img {
  max-width: 340px;
}

.identity {
  text-align: center;
  font-size: 55pt;
  margin-bottom: 0;
  color: #8080808a;
}
.dia {
  text-align: center;
  font-size: 29pt;
}

.diagram1 {
  display: flex;
}
.dig {
  margin-top: 250px;
  padding-left: 30px;
}
.dig1 {
  width: 100%;
  padding: 0px 0px 0px 30px;
}
.color {
  background-color: #ecf3f4;
}
.dig2 {
  width: 100%;
  padding-bottom: 154px;
}

/*
.rectangle {
  width: 40%;
  background-color: #041e54;
}
*/

ol,
ul {
  list-style: none;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-img {
  float: left;
}

.logo ul {
  width: 100%;
}

.logo ul li {
  padding-left: 5px;
  font-size: 30px;
  line-height: 33px;
}

.logo ul li:nth-child(2) {
  color: #c77329;
}
.rectangleimg {
  height: 40px;
}

.rectangleimg2 {
  height: 120%;
  float: right;
}

.img-box {
  height: 250px;
  width: 68%;
  float: right;
  margin-right: -12.5%;
  margin-top: -185px;
  background-color: #ecf3f4;
}

#footer {
  background-color: #041e54;
}
.row {
  display: inline-flex;
  column-count: 3;
  margin: 10px 10px 10px 0px;
}
.cards li {
  text-decoration: none;
  font-size: 18pt;
}
.cards ul {
  list-style-type: none;
}
.columns {
  padding: 20px 20px;
  color: white;
}

hr {
  width: 100%;
  text-align: center;
  border-color: #00b8ff4f;
  background-color: #041e54;
}
.matchpoint {
  color: white;
  padding: 3% 0%;
}

.matchpoint p {
  font-size: 16pt;
  margin: 0px;
}
.social {
  column-count: 2;
}
.socialmedia {
  padding-left: 220px;
}

.main {
  padding: 2% 10%;
  padding-bottom: 0;
}
.section3 {
  padding-top: 0%;
  color: black;
  background-image: url("../img/rectangleshape.png");
  /* clip-path: polygon(0 0, 60% 0, 60% 25%, 100% 25%, 100% 100%, 0 100%); */
}
.project {
  color: white;
}
.line-hr {
  padding-top: 10%;
}
.line1 {
  margin-left: -13%;
  height: 40px;
}

.twodiv {
  padding-top: 2%;
}
.four-rows {
  width: 100%;
  padding: 2% 0%;
  display: inline-flex;
  column-count: 4;
}
.column-four {
  float: left;
  width: 25%;
}

#footer {
  background-color: #041e54;
}
.four-rows {
  width: 100%;
  padding: 2% 0%;
  display: inline-flex;
  column-count: 4;
}
.footer-cards li {
  text-decoration: none;
  font-size: 14pt;
  line-height: 1.8;
}
.footer-cards ul {
  color: lightblue;
  list-style-type: none;
}

.footer-cards ul li:nth-child(1) {
  color: white;
}

.line-hr {
  padding-top: 10%;
}
