@import url(//fonts.googleapis.com/css?family=Open+Sans);
/* RESET CSS BEGIN */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  font-family: "Open Sans", sans-serif;
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*RESET CSS END*/

/* HELPER CLASSES BEGIN */
.alignLeft {
  float: left;
}

.alignRight {
  float: right;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-bottom-30 {
  margin-bottom: 30px;
}

.margin-bottom-40 {
  margin-bottom: 40px;
}

strong,
b {
  font-size: 30pt;
}

em,
i {
  font-style: italic;
}

p,
ul li,
ol li {
  font-size: 17px;
  line-height: 24px;
}

/*HELPER CLASSES END*/

#hero {
  background-image: url("../img/cc.png");
  color: white;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.container {
  background-image: url("../img/cc.png");
  color: white;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  max-height: 800px;
  position: relative;
  padding-top: 20px;
}

.header {
  margin: 0 2%;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-img {
  float: left;
}

.logo ul {
  width: 100%;
}

.logo ul li {
  padding-left: 5px;
  font-size: 30px;
  line-height: 33px;
}

.logo ul li:nth-child(2),
.nav li:nth-child(1) a {
  color: #ff5722;
}

/*navbar styling */
.navbar {
  padding: 1% 0 0 1%;
}
.nav li {
  display: inline-block;
  padding-left: 0 5%;
}
.nav li a {
  color: white;
  text-decoration: none;
}

.menu {
  float: right;
}
/****navbar end****/
.main {
  padding: 2% 10%;
}
.section2 {
  color: black;
  /* border-top:5px solid darkgray; */
  background-image: url("../img/colour.png");
  padding-bottom: 150px;
}

.section3 {
  padding-top: 0%;
  color: black;
  background-image: url("../img/rectangleshape.png");
  /* clip-path: polygon(0 0, 60% 0, 60% 25%, 100% 25%, 100% 100%, 0 100%); */
}

.about-title {
  padding-top: 0%;
  padding-bottom: 45px;
  font-size: 26pt;
}
.key-points {
  display: inline-flex;
  margin-top: 30px;
  column-count: 3;
}

.column {
  float: left;
  width: 33%;
}
.column-four {
  float: left;
  width: 25%;
}

.column:nth-child(2) {
  padding: 0 5%;
}

.row .column:nth-child(2) {
  padding: 0 2%;
}

.column h3 {
  font-size: 30pt;
}
.column p {
  font-size: 16pt;
  line-height: 20px;
  color: #527088;
  padding-top: 9px;
}

.key-image {
  padding-top: 50px;
}

.key-image img {
  width: 100%;
}

.press-title {
  display: flex;
  align-items: center;
  font-size: larger;
  padding: 20px 10px;
}

.press-title img {
  float: left;
  padding-right: 5px;
}

.row {
  margin: 0 -5px;
  padding-top: 2%;
  display: inline-flex;
  column-count: 3;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 25px;
  background-color: white;
  border-radius: 10px;
}

.card span {
  color: #c77329;
  font-size: 16pt;
}

.card ul {
  padding-top: 20px;
}

.card ul li {
  display: flex;
  align-items: center;
  line-height: 1.6;
  font-size: 14pt;
}

.card ul li img {
  max-width: 13px;
}

.card ul li span {
  color: black;
  padding-left: 10px;
}

@media screen and (max-width: 600px) {
  .row .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
    padding: 0 !important;
  }

  .row {
    column-count: 1;
    display: inline;
  }
}

.paragraph {
  padding-top: 6%;
  padding-bottom: 3%;
  font-size: 16pt;
}
.paragraph p {
  padding: 1%;
  color: black;
}

.news-footer {
  float: right;
  padding-top: 15px;
}

.news-footer button {
  color: #ff5722;
  border-radius: 17px;
  border-color: #ff5722;
  background-color: floralwhite;
  cursor: pointer;
  width: 100px;
  height: 34px;
}

.left-bar span,
.right-bar span {
  padding: 0;
}

.left-bar span:after {
  border-bottom-right-radius: 7px;
  border-top-right-radius: 7px;
  box-shadow: inset -2px -5px 2px 1px rgb(0 0 0 / 20%);
  content: "";
  display: block;
  width: 40%;
  height: 30px;
  background-color: aquamarine;
}

.footer .img2 {
  background-image: url("../img/img2.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.right-bar span:after {
  float: right;
  border-bottom-right-radius: 7px;
  border-top-right-radius: 7px;
  box-shadow: inset -2px -5px 2px 1px rgb(0 0 0 / 20%);
  content: "";
  display: block;
  width: 40%;
  height: 30px;
  background-color: aquamarine;
}

.line1 {
  margin-left: -13%;
  height: 40px;
}

.twodiv {
  padding-top: 2%;
}

.rectangleimg2 {
  height: 120%;
  float: right;
}

.img-box {
  height: 250px;
  width: 68%;
  float: right;
  margin-right: -12.5%;
  margin-top: -185px;
  background-color: #ecf3f4;
}

.rectangleimg {
  height: 40px;
}

.logoimg {
  height: 200px;
}
.logoimg1 {
  padding-top: 89px;
  padding-left: 200px;
}

.project {
  color: white;
}

#footer {
  background-color: #041e54;
}
.four-rows {
  width: 100%;
  padding: 2% 0%;
  display: inline-flex;
  column-count: 4;
}
.footer-cards li {
  text-decoration: none;
  font-size: 14pt;
  line-height: 1.8;
}
.footer-cards ul {
  color: lightblue;
  list-style-type: none;
}

.footer-cards ul li:nth-child(1) {
  color: white;
}

.line-hr {
  padding-top: 10%;
}

hr {
  width: 100%;
  text-align: center;
  border-color: #00b8ff4f;
  background-color: #041e54;
}
.matchpoint {
  color: white;
  padding: 3% 0%;
}
.matchpoint p {
  font-size: 16pt;
  margin: 0px;
}
.social {
  column-count: 2;
}
.socialmedia {
  float: right;
}
